html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #ffcccc; /* Vermelho suave */
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    text-align: center; /* Centraliza a imagem */
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #ffcccc; /* Vermelho suave */
    min-height: 150px;
    text-align: center; /* Centraliza a imagem */
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}